/* Add screen styles below */
body{
    font-family:Arial, Helvetica, sans-serif;
    background:#7F9382;
    color:#1a1b1b;
}

h1{ 
   text-align: center;
   color:#1a1b1b;
   font-size: 60px;
   background-color: #b5c3be;
   margin: 0px;
}
#nav{
    position: sticky;
    top: 0;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #003249;
    position: sticky;
    top: 0;
 }

li{
  display:inline;
  float:left;
}

li a {
    font-weight: bold;
    font-size: 15px;
    font-style: Arial,Georgia, Helvetica;
    display:block;
    padding:5px;
    background-color: #b5c3be;
    border:5px, solid, #1a1b1b;

}

.blog_post_contact{
    display:flex;
    align-items:baseline;
    justify-content: center;
    flex-grow: 1;
    font-size: 14px;
    padding: 5px;
    background-color: #b5c3be;
    
}
.Post_title {
    text-align:center;
    font-size: 40px;
}


h5{
    margin:0;
}
.Post_title {
    margin:0;
    background-color: #b5c3be;
}


#contentintro{
    flex:1;
    margin: 0;
}

.postwriting{
    display:flex;
    text-align:center;
    font-size:20px;
    padding:20px;
}

img{
    width: 300px;
    height:300px;
    padding:10px;
}
#Blog_post3{
    font-size:150px;
}
table, th{
    font-size: 20px;
    width: 100%;
    border: 1px solid;
}
td{
    font-size: 20px;
    border: 1px solid;
    flex-shrink:0;
}
#Corgi_Form{
    font-size:40px;
    width:100%;
    text-align:center;
    background-color:#b5c3be
}
#email_form{
    display:flex;
    font-size: 15px;
    justify-content:center;
    align-items: baseline;
}
#EID, #EIC, #EIB, #EIA {
    border:2px solid;
}
blockquotes{
    margin:0px;
}
.extrainfo{
    display:flex;
    justify-content:space-evenly;
}
blockquote{
    margin:0px;
}
