/* Add screen styles below */
body{
    font-family:Arial, Helvetica, sans-serif;
    background:#7F9382;
    color:#1a1b1b;
}

h1{ 
   text-align: center;
   color:#1a1b1b;
   font-size: 60px;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #003249;
 }

li{
  display:inline;
  float:left;
}

li a {
    font-weight: bold;
    font-size: 40px;
    font-style: Arial,Georgia, Helvetica;
    display:block;
    padding:15px;
    background-color: #b5c3be;
    border:15px, solid, #1a1b1b;
}

.blog_post_contact{
    display:flex;
    align-items:baseline;
    justify-content: center;
    flex-grow: 1;
    font-size: 40px;
    padding: 5px;
    background-color: #b5c3be;
    
}
.Post_title {
    text-align:center;
    font-size: 150px;
}


h5{
    margin:0;
}
.Post_title {
    margin:0;
    background-color: #b5c3be;
}


#contentintro{
    flex:1;
    margin: 0;
}

.postwriting{
    display:flex;
    text-align:center;
    font-size:80px;
    padding:80px;
}

img{
    width:1500px;
    height:1500px;
    padding:100px;
}
#Blog_post3{
    font-size:150px;
}
table, th, td{
    font-size: 100px;
    width: 100%;
    border: 10px solid;
    display: inline;
}
